body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #112d4e;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #112d4e;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3f72af;
}

hr {
  border: dotted #dbe2ef 7px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 20px;
  color: #3f72af;
}

a:hover {
  color: #112d4e;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #112d4e;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #f9f7f7;
}

.middle-container {
  background-color: white;
  margin: 100px 0;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #dbe2ef;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
	background:linear-gradient(to bottom, #3f71af 5%, #112e4e 100%);
	background-color:#3f71af;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:10px 20px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #112e4e 5%, #3f71af 100%);
	background-color:#112e4e;
}
.btn:active {
	position:relative;
	top:1px;
}
